@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
  :root {
    --primaryBg: #212529;
    --secondaryBg: #0c0f0a;
    --primaryText: #edf6f9;
    --secondaryText: #adb5bd;
  }
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--secondaryBg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryText);
}
